Node-Red/Temperature_MQTT/Temperature.json
[
    {
       "id":"cb58e42c.3f1588",
       "type":"tab",
       "label":"Cayyene",
       "disabled":false,
       "info":""
    },
    {
       "id":"fa6c772d.f42638",
       "type":"mqtt in",
       "z":"cb58e42c.3f1588",
       "name":"",
       "topic":"v1/92538530-0a50-11ea-84bb-8f71124cfdfb/things/b88d4970-0a50-11ea-b49d-5f4b6757b1bf/cmd/1",
       "qos":"1",
       "datatype":"auto",
       "broker":"4d6ba96f.e04d78",
       "x":340,
       "y":140,
       "wires":[
          [
             "67edc8cb.1ca4b8"
          ]
       ]
    },
    {
       "id":"dcb4ff25.65382",
       "type":"mqtt out",
       "z":"cb58e42c.3f1588",
       "name":"",
       "topic":"v1/92538530-0a50-11ea-84bb-8f71124cfdfb/things/b88d4970-0a50-11ea-b49d-5f4b6757b1bf/data/1",
       "qos":"",
       "retain":"",
       "broker":"4d6ba96f.e04d78",
       "x":1400,
       "y":200,
       "wires":[
 
       ]
    },
    {
       "id":"821a2b36.f67c48",
       "type":"switch",
       "z":"cb58e42c.3f1588",
       "name":"",
       "property":"payload",
       "propertyType":"msg",
       "rules":[
          {
             "t":"eq",
             "v":"1",
             "vt":"str"
          },
          {
             "t":"eq",
             "v":"0",
             "vt":"str"
          }
       ],
       "checkall":"true",
       "repair":false,
       "outputs":2,
       "x":910,
       "y":140,
       "wires":[
          [
             "fa8ea0b8.d991c",
             "dcb4ff25.65382"
          ],
          [
             "fa8ea0b8.d991c",
             "dcb4ff25.65382"
          ]
       ]
    },
    {
       "id":"fa8ea0b8.d991c",
       "type":"arduino out",
       "z":"cb58e42c.3f1588",
       "name":"",
       "pin":"13",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1120,
       "y":140,
       "wires":[
 
       ]
    },
    {
       "id":"67edc8cb.1ca4b8",
       "type":"split",
       "z":"cb58e42c.3f1588",
       "name":"",
       "splt":",",
       "spltType":"str",
       "arraySplt":1,
       "arraySpltType":"len",
       "stream":false,
       "addname":"",
       "x":770,
       "y":140,
       "wires":[
          [
             "821a2b36.f67c48"
          ]
       ]
    },
    {
       "id":"aa22d5e5.b6bdb8",
       "type":"arduino in",
       "z":"cb58e42c.3f1588",
       "name":"Thermo In",
       "pin":"9",
       "state":"ANALOG",
       "arduino":"199cb671.8f3c2a",
       "x":60,
       "y":380,
       "wires":[
          [
             "f5849f50.b3d4c"
          ]
       ]
    },
    {
       "id":"f5849f50.b3d4c",
       "type":"function",
       "z":"cb58e42c.3f1588",
       "name":"Init Celsius",
       "func":"var code = msg.payload;\nvar celsius = 0;\n\nif (code <= 289) {\n    celsius = 5 + (code - 289) / 9.82;\n  }\n  if (code > 289 && code <= 342) {\n    celsius = 10 + (code - 342) / 10.60;\n  }\n  if (code > 342 && code <= 398) {\n    celsius = 15 + (code - 398) / 11.12;\n  }\n  if (code > 398 && code <= 455) {\n    celsius = 20 + (code - 455) / 11.36;\n  }\n  if (code > 455 && code <= 512) {\n    celsius = 25 + (code - 512) / 11.32;\n  }\n  if (code > 512 && code <= 566) {\n    celsius = 30 + (code - 566) / 11.00;\n  }\n  if (code > 566 && code <= 619) {\n    celsius = 35 + (code - 619) / 10.44;\n  }\n  if (code > 619 && code <= 667) {\n    celsius = 40 + (code - 667) / 9.73;\n  }\n  if (code > 667) {\n    celsius = 45 + (code - 712) / 8.90;\n  }\n\nmsg.payload =  celsius;\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":270,
       "y":380,
       "wires":[
          [
             "fc45da06.23c6c8"
          ]
       ]
    },
    {
       "id":"ad13cab.e3e2a38",
       "type":"debug",
       "z":"cb58e42c.3f1588",
       "name":"celsius",
       "active":true,
       "tosidebar":true,
       "console":true,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":860,
       "y":380,
       "wires":[
 
       ]
    },
    {
       "id":"5abe0f58.fa66f",
       "type":"function",
       "z":"cb58e42c.3f1588",
       "name":"Round Celsius",
       "func":"var celsius = msg.payload ;\n\nmsg.payload =  parseFloat(celsius).toFixed(1);\n\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":660,
       "y":380,
       "wires":[
          [
             "ad13cab.e3e2a38",
             "8038de4e.06781"
          ]
       ]
    },
    {
       "id":"8038de4e.06781",
       "type":"mqtt out",
       "z":"cb58e42c.3f1588",
       "name":"",
       "topic":"v1/92538530-0a50-11ea-84bb-8f71124cfdfb/things/b88d4970-0a50-11ea-b49d-5f4b6757b1bf/data/2",
       "qos":"1",
       "retain":"",
       "broker":"4d6ba96f.e04d78",
       "x":1400,
       "y":320,
       "wires":[
 
       ]
    },
    {
       "id":"fc45da06.23c6c8",
       "type":"delay",
       "z":"cb58e42c.3f1588",
       "name":"",
       "pauseType":"rate",
       "timeout":"10",
       "timeoutUnits":"seconds",
       "rate":"1",
       "nbRateUnits":"5",
       "rateUnits":"second",
       "randomFirst":"1",
       "randomLast":"5",
       "randomUnits":"seconds",
       "drop":true,
       "x":460,
       "y":380,
       "wires":[
          [
             "5abe0f58.fa66f"
          ]
       ]
    },
    {
       "id":"329686ac.97e06a",
       "type":"comment",
       "z":"cb58e42c.3f1588",
       "name":"Curtis Spence, Spen0203@algonquinlive.com, 040 855 320, Lab11 Thermosister  Cayyen",
       "info":"Lab 8 Toggle tricolor LED",
       "x":310,
       "y":40,
       "wires":[
 
       ]
    },
    {
       "id":"4d6ba96f.e04d78",
       "type":"mqtt-broker",
       "z":"",
       "name":"cayenne",
       "broker":"mqtt.mydevices.com",
       "port":"1883",
       "clientid":"b88d4970-0a50-11ea-b49d-5f4b6757b1bf",
       "usetls":false,
       "compatmode":true,
       "keepalive":"60",
       "cleansession":true,
       "birthTopic":"",
       "birthQos":"0",
       "birthPayload":"",
       "closeTopic":"",
       "closeQos":"0",
       "closePayload":"",
       "willTopic":"",
       "willQos":"0",
       "willPayload":""
    },
    {
       "id":"199cb671.8f3c2a",
       "type":"arduino-board",
       "z":"",
       "device":"COM5"
    }
 ]