Node-Red/TriColor_LED_Toggle/TriColor_LED_Toggle.json
[
    {
       "id":"58c1bd43.0af744",
       "type":"tab",
       "label":"Tricolor LED",
       "disabled":false,
       "info":""
    },
    {
       "id":"a0a7ff3a.48aed",
       "type":"arduino in",
       "z":"58c1bd43.0af744",
       "name":"digitalRead",
       "pin":"2",
       "state":"INPUT",
       "arduino":"199cb671.8f3c2a",
       "x":160,
       "y":340,
       "wires":[
          [
             "8bcd2e15.040bb",
             "c082d14e.8b483"
          ]
       ]
    },
    {
       "id":"6de0abb4.3afe24",
       "type":"function",
       "z":"58c1bd43.0af744",
       "name":"Toggle output on input",
       "func":"var count = global.get('count') || 0;\n\nif(count == 2){\n    global.set('count',1)\n}\nif(count == 1)\n{\n    global.set('count',0)\n}\nif(count == 0)\n{\n    global.set('count',2)\n}\n\n// set the payload to the level and return\nmsg.payload = count;\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":530,
       "y":340,
       "wires":[
          [
             "ec6a292a.475558",
             "5a068159.6ff79"
          ]
       ]
    },
    {
       "id":"ec6a292a.475558",
       "type":"debug",
       "z":"58c1bd43.0af744",
       "d":true,
       "name":"",
       "active":true,
       "tosidebar":true,
       "console":true,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":700,
       "y":220,
       "wires":[
 
       ]
    },
    {
       "id":"8bcd2e15.040bb",
       "type":"delay",
       "z":"58c1bd43.0af744",
       "name":"",
       "pauseType":"delay",
       "timeout":"500",
       "timeoutUnits":"milliseconds",
       "rate":"1",
       "nbRateUnits":"1",
       "rateUnits":"second",
       "randomFirst":"1",
       "randomLast":"5",
       "randomUnits":"seconds",
       "drop":false,
       "x":330,
       "y":340,
       "wires":[
          [
             "6de0abb4.3afe24"
          ]
       ]
    },
    {
       "id":"c082d14e.8b483",
       "type":"debug",
       "z":"58c1bd43.0af744",
       "d":true,
       "name":"",
       "active":true,
       "tosidebar":true,
       "console":true,
       "tostatus":true,
       "complete":"payload",
       "targetType":"msg",
       "x":320,
       "y":260,
       "wires":[
 
       ]
    },
    {
       "id":"5a068159.6ff79",
       "type":"switch",
       "z":"58c1bd43.0af744",
       "name":"",
       "property":"payload",
       "propertyType":"msg",
       "rules":[
          {
             "t":"eq",
             "v":"0",
             "vt":"str"
          },
          {
             "t":"eq",
             "v":"1",
             "vt":"str"
          },
          {
             "t":"eq",
             "v":"2",
             "vt":"str"
          }
       ],
       "checkall":"true",
       "repair":false,
       "outputs":3,
       "x":710,
       "y":340,
       "wires":[
          [
             "e3e0ec64.1527e",
             "5418735b.eb16bc"
          ],
          [
             "e30e3785.c26658",
             "100f3cdc.3bfd53"
          ],
          [
             "44c1769e.7a5fb8",
             "1a11dfd3.07483"
          ]
       ]
    },
    {
       "id":"814a2832.7fe208",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Green",
       "pin":"4",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":180,
       "wires":[
 
       ]
    },
    {
       "id":"fa11b6f4.700888",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Blue",
       "pin":"5",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":360,
       "wires":[
 
       ]
    },
    {
       "id":"87e15bf9.ee0ff8",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Red",
       "pin":"6",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":560,
       "wires":[
 
       ]
    },
    {
       "id":"f3a590be.e8436",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Blue",
       "pin":"5",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":260,
       "wires":[
 
       ]
    },
    {
       "id":"badfe31a.ad205",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Red",
       "pin":"6",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":300,
       "wires":[
 
       ]
    },
    {
       "id":"4a7b2b41.76c804",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Green",
       "pin":"4",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":420,
       "wires":[
 
       ]
    },
    {
       "id":"856b3b.832df4c8",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Red",
       "pin":"6",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":480,
       "wires":[
 
       ]
    },
    {
       "id":"c74ef11b.99d94",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Blue",
       "pin":"5",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":660,
       "wires":[
 
       ]
    },
    {
       "id":"43dad708.de8318",
       "type":"arduino out",
       "z":"58c1bd43.0af744",
       "name":"Green",
       "pin":"4",
       "state":"OUTPUT",
       "arduino":"199cb671.8f3c2a",
       "x":1290,
       "y":620,
       "wires":[
 
       ]
    },
    {
       "id":"e3e0ec64.1527e",
       "type":"change",
       "z":"58c1bd43.0af744",
       "name":"turn off",
       "rules":[
          {
             "t":"set",
             "p":"payload",
             "pt":"msg",
             "to":"0",
             "tot":"str"
          }
       ],
       "action":"",
       "property":"",
       "from":"",
       "to":"",
       "reg":false,
       "x":1080,
       "y":280,
       "wires":[
          [
             "f3a590be.e8436",
             "badfe31a.ad205"
          ]
       ]
    },
    {
       "id":"5418735b.eb16bc",
       "type":"change",
       "z":"58c1bd43.0af744",
       "name":"turn on",
       "rules":[
          {
             "t":"set",
             "p":"payload",
             "pt":"msg",
             "to":"1",
             "tot":"str"
          }
       ],
       "action":"",
       "property":"",
       "from":"",
       "to":"",
       "reg":false,
       "x":1080,
       "y":180,
       "wires":[
          [
             "814a2832.7fe208"
          ]
       ]
    },
    {
       "id":"e30e3785.c26658",
       "type":"change",
       "z":"58c1bd43.0af744",
       "name":"turn off",
       "rules":[
          {
             "t":"set",
             "p":"payload",
             "pt":"msg",
             "to":"0",
             "tot":"str"
          }
       ],
       "action":"",
       "property":"",
       "from":"",
       "to":"",
       "reg":false,
       "x":1080,
       "y":440,
       "wires":[
          [
             "4a7b2b41.76c804",
             "856b3b.832df4c8"
          ]
       ]
    },
    {
       "id":"100f3cdc.3bfd53",
       "type":"change",
       "z":"58c1bd43.0af744",
       "name":"turn on",
       "rules":[
          {
             "t":"set",
             "p":"payload",
             "pt":"msg",
             "to":"1",
             "tot":"str"
          }
       ],
       "action":"",
       "property":"",
       "from":"",
       "to":"",
       "reg":false,
       "x":1080,
       "y":360,
       "wires":[
          [
             "fa11b6f4.700888"
          ]
       ]
    },
    {
       "id":"1a11dfd3.07483",
       "type":"change",
       "z":"58c1bd43.0af744",
       "name":"turn off",
       "rules":[
          {
             "t":"set",
             "p":"payload",
             "pt":"msg",
             "to":"0",
             "tot":"str"
          }
       ],
       "action":"",
       "property":"",
       "from":"",
       "to":"",
       "reg":false,
       "x":1080,
       "y":640,
       "wires":[
          [
             "43dad708.de8318",
             "c74ef11b.99d94"
          ]
       ]
    },
    {
       "id":"44c1769e.7a5fb8",
       "type":"change",
       "z":"58c1bd43.0af744",
       "name":"turn on",
       "rules":[
          {
             "t":"set",
             "p":"payload",
             "pt":"msg",
             "to":"1",
             "tot":"str"
          }
       ],
       "action":"",
       "property":"",
       "from":"",
       "to":"",
       "reg":false,
       "x":1080,
       "y":560,
       "wires":[
          [
             "87e15bf9.ee0ff8"
          ]
       ]
    },
    {
       "id":"f954181d.7c4cc8",
       "type":"comment",
       "z":"58c1bd43.0af744",
       "name":"Curtis Spence, Spen0203@algonquinlive.com, 040 855 320,  Lab 8 Toggle tricolor LED ",
       "info":"Lab 8 Toggle tricolor LED",
       "x":400,
       "y":120,
       "wires":[
 
       ]
    },
    {
       "id":"199cb671.8f3c2a",
       "type":"arduino-board",
       "z":"",
       "device":"COM5"
    }
 ]